<!-- <a href="/">C O N T E N T</a> -->
<section class="index-banner">
    <div class="vertical-center">
        <h2>
            We are .io consultants
        </h2>
        <h1>
            With specialty in fullstack web development, machine learning, and Search Engine Optimization.
        </h1>
    </div>
</section>
<section class="index-links">
    <a href="/cases">
        <div class="index-boxlink-square">
            <h3>Cases</h3>
        </div>
    </a>
    <a href="#">
        <div class="index-boxlink-rectangle">
            <h3>Piorun</h3>
        </div>
    </a>
    <a href="#">
        <div class="index-boxlink-square">
            <h3>Portfolio</h3>
        </div>
    </a>
    <a href="#">
        <div class="index-boxlink-rectangle">
            <h3>Youtube</h3>
        </div>
    </a>
    <a href="#">
        <div class="index-boxlink-square">
            <h3>About</h3>
        </div>
    </a>
    <a href="#">
        <div class="index-boxlink-square">
            <h3>Contact</h3>
        </div>
    </a>
</section>